.bodyProfile {
    text-align: center;
    padding: 0px 20px 20px 20px;
    background-color: white;
    height: 100%;
}

.containerProfile {
    background-color: white;
    border-radius: 13px;
    padding: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.400);
}

.pokemonImageProfile {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.500));
    width: 200px;
}

.nameIdPokemonProfile {
    padding: 0 0 20px 0;
    font-size: 1.7em;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.idPokemonProfile {
    font-weight: 100;
    color: rgb(214, 214, 214);
}

.badgeTypePokemonProfile {
    margin: 0 10px;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    cursor: default;
    width: 100px;
}

.badgesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonInfosContainer {
    background-color: orange;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
}

.possibleAbilities {
    display: inline-block;
    padding: 1px 10px;
    margin: 5px 5px;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
    cursor: default;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.500);
    transition: 0.5s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.100);
}

.possibleAbilities:hover {
    transform: scale(0.9);
}

.heightAndWeight {
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: azure;
}

.heightAndWeightTitle {
    margin: 0;
    padding: 0;
}

.dataPokemonProfileContainer {
    display: flex;
    justify-content: space-between;
}

.othersVersionsContainer {
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    padding: 10px;
    margin: 15px 0;
    position: relative;
}

.othersVersionsContainer::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/pokemon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

.titleOtherVersion {
    font-weight: bolder;
    color: #000000c2;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    font-size: 1.8em;
}

.imageOthersVersions {
    width: 200px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.700));
}

.alertOthersForms {
    font-weight: bolder;
}

.abillitiesContainer {
    text-align: center;
}

.houseIcon {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
}

.icon {
    transition: 0.2s;
    cursor: pointer;
    color: white;
}

.icon:hover {
    transform: scale(1.4);
}