.bodyProfile {
    text-align: center;
    padding: 0px 20px 20px 20px;
    background-color: white;
    height: 100%;
}

.containerProfile {
    background-color: white;
    border-radius: 13px;
    padding: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.400);
}

.pokemonImageProfile {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.500));
    width: 200px;
}

.nameIdPokemonProfile {
    padding: 20px 0;
    font-size: 1.7em;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.idPokemonProfile {
    font-weight: 100;
    color: rgb(214, 214, 214);
}

.badgeTypePokemonProfile {
    margin: 0 10px;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    cursor: default;
    width: 100px;
}

.badgesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonInfosContainer {
    background-color: orange;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
}

.possibleAbilities {
    display: inline-block;
    padding: 1px 10px;
    margin: 5px 5px;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
    cursor: default;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    transition: 0.5s;
}.possibleAbilities:hover {
    transform: scale(0.9);
}

.heightAndWeight {
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: azure;
}

.heightAndWeightTitle {
    margin: 0;
    padding: 0;
}

.dataPokemonProfileContainer {
    display: flex;
    justify-content: space-between;
}

.othersVersionsContainer {
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    padding: 10px;
    margin: 15px 0;
}

.titleOtherVersion {
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    font-size: 1.8em;
}

.imageOthersVersions {
    width: 200px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.700));
}

.alertOthersForms {
    font-weight: bolder;
}