.bodyProfile {
    text-align: center;
    padding: 20px;
    background-color: red;
    height: 100vh;
}

.containerProfile {
    background-color: white;
    height: 100%;
    border-radius: 13px;
    padding: 10px 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.400);
}